<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOOpPKHGW2WQ75OMd_ZA9Jqdba5cK4B5A</string>
	<key>GCM_SENDER_ID</key>
	<string>732889943106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.realtimeDatabase</string>
	<key>PROJECT_ID</key>
	<string>realtime-database-cbd8c</string>
	<key>STORAGE_BUCKET</key>
	<string>realtime-database-cbd8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732889943106:ios:232effd5c02fb27042b1db</string>
</dict>
</plist>